.App {
  margin-bottom: 20%;
}

.back-img {
  background-image: url('./assets/bg-cafe.jpg');
  height: 60vh;
}

.back-cards {
  background-color: #1B1D1F;
  padding: 5%;
  margin: -150px 10%; 
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.containerTitle{
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.title {
  color: #FEF7EE;
  font-size: 32px;
}

.text {
  color: #6F757C;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.button {
  margin-top: 10px;
  font-size: 16px;
  color: #FEF7EE;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #6F757C;  
  margin-left: 5px;
}

.button:hover {
 background-color: #394150;
}